group DLQService
    
    source https://api.nuget.org/v3/index.json
    storage: none

    nuget FSharp.Core ~> 10.1
    nuget NATS.Net ~> 3.2
    nuget NLog ~> 6.2
    nuget NLog.Extensions.Logging ~> 6.2
    nuget OpenTelemetry.Extensions.Hosting ~> 1.18
    nuget OpenTelemetry.Exporter.OpenTelemetryProtocol ~> 1.18
    nuget OpenTelemetry.Instrumentation.Runtime ~> 1.18
